body {
  background: #000000 url("http://www.zastavki.com/pictures/originals/2014/World___Italy_Port_on_the_resort_Imperia__Italy_063249_.jpg") no-repeat center center fixed;
  background-size: cover;
}
h1 {
  text-align: center;
  font-size: 56px;
  color: #FFF;
  margin: 20px;
}
h3 {
  text-align: center;
  font-size: 26px;
  color: #FFF;
  margin-bottom: 60px;
}
/* BUTTON */
.btn {
  display: inline-block;
  position: relative;
  background-color: #939598;
  transition: all 1s;
  cursor: pointer;
}
#buttonText {
  transition: all 1s;
}
#glyphicon {
  transition: all 1s;
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
/* SPACER */
.spacer {
  margin-top: 20px;
  /* define margin as you see fit */
}
/* SEARCH BOX */
.input {
  position: relative;
  z-index: 1;
  display: block;
  margin: 1em;
  max-width: 350px;
  width: calc(98%);
  vertical-align: top;
  text-align: center;
  margin: auto;
}
.input__field {
  margin: auto;
  text-align: center;
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}
.input__field:focus {
  outline: none;
}
.input__label {
  display: block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #FFF;
  font-weight: bold;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}
.icon {
  color: #ddd;
  font-size: 150%;
}
.input--nao {
  overflow: hidden;
  padding-top: 1em;
}
.input__field--nao {
  padding: 0.5em 0em 0.25em;
  width: 100%;
  background: transparent;
  color: #FFF;
  font-size: 2.50em;
}
.input__label--nao {
  position: absolute;
  top: 0.95em;
  font-size: 1.10em;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
  transition: transform 0.2s 0.15s, color 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.graphic--nao {
  stroke: #fff;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
  color: #333;
  -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}
.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
  stroke: #333;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}
/* WEB PAGE BOX */
.webpage-box {
  width: 90%;
  margin: 0px auto;
  display: none;
}
.embed-container {
  height: 0;
  width: 100%;
  padding-bottom: 90%;
  overflow: hidden;
  position: relative;
}
.embed-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* SEARCH RESULTS */
.search-result {
  margin-top: 100px;
  background: rgba(255, 255, 255, 0.4);
  /*color: #000;
  background-color: #000;*/
  display: hidden;
}
.linkable-div {
  margin-left: 100px;
  margin-right: 100px;
  /*background-color: #000;*/
  color: #000;
  transition: all 1s ease-out;
}
